body {
  text-align: center;
  margin: 0 0 0 0;
}

#game {
  display: flex;
  justify-content: center;
}

#btn-1{
  background-color: magenta;
}

#btn-2{
  background-color: blue;
}

#btn-3{
  background-color: green;
}

#btn-0{
  background-color: yellow;
}

.flash{
  background-color: white;
}

.btn {
  border: 7px solid black;
  border-radius: 20%;
  height: 200px;
  width: 200px;
  margin: 50px 25px 50px 25px;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 150px;
    margin: 30px 15px 30px 15px;
  }
}
